<div class = "container">
    <header class = "row">
        <h1>New Articles:</h1>
    </header>
    <div class = "articles row">
    {{#each article}}
        <article class = "row">
            <div class = "col-2">
                <img class = "small-image"src = {{image}}>
                <h5 class = "category">{{category}}</h5>
            </div>
            <div class = "col-8">
                <h3>{{title}}</h3>
                <p>{{blurb}}</p>
            </div>
            <div class = "col-2">
                <button id="save-{{index}}" class = "save-article" data-link={{link}} >Save Article</button>
                {{!-- <button id="view-{{index}}"class = "view hidden" data-link ={{link}}>View</button> --}}
                <a href = {{link}}>Read more</a>
            </div>
        </article>
    {{/each}}
    </div>
</div>
