<div class = "container">
    <header class = "row">
        <h1>Saved Articles:</h1>
    </header>
    <div class = "articles row">
    {{#each article}}
        <article class = "row">
            <div class = "col-2">
                <img class = "small-image"src = {{image}}>
            </div>
            <div class = "col-8">
                <h3>{{title}}</h3>
                <p>{{body}}</p>
            </div>
            <div class = "col-2">
                <button id="remove-{{_id}}" class = "remove-article" data-_id={{_id}} >Delete</button>
                <button id="view-{{_id}}"class = "view" data-_id ={{_id}}>View</button>
                <a href = {{link}}>Read more</a>
            </div>
        </article>
    {{/each}}
    </div>
</div>
