<div class = "container">
    <header class = "row">
        <h1>Saved Articles:</h1>
    </header>
    <div class = "articles row">
    {{#each article}}
        <article class = "row">
            <div class = "col-12">
                <div class = "row">
                    <div class = "col-sm-3">
                        <img class = "small-image"src = {{image}}>
                        <h5 class = "category">{{category}}</h5>
                    </div>
                    <div class = "col-sm-7">
                        <h3>{{title}}</h3>
                        <p>{{body}}</p>
                    </div>
                    <div class = "col-sm-2">
                        <button id="remove-{{_id}}" class = "remove-article btn" data-_id={{_id}} >Delete</button>
                        <a href = {{link}}>Read more</a>
                    </div>
                </div>
                <div class = "comments row hidden" id="comments-{{_id}}">
                    <div class = "col-12">
                        <h4>Comments</h4>
                        {{#each comments}}
                        <div class= "comment row">
                            <div class = "col-sm-3"><h6>{{author}}</h6></div>
                            <div class = "col-sm-8"><p>{{body}}</p></div>
                            <div class = "col-sm-1"><button class = "btn delete-comment" data-_id={{_id}}><i class ="fas fa-trash-alt"></i></button></div>
                        </div>
                        {{/each}}
                        <div class = "add-comment row">
                            <form class = "col-12 text-center">
                                Your Name: <input type = "text" placeholder="Anonymous" id="comment-author-{{_id}}">
                                <input type = "text" id="comment-text-{{_id}}" class = "new-comment">
                                <button id = "submit-{{_id}}" class ="submit-comment btn" data-_id={{_id}}>Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-12 text-center">
                    <button id="view-{{_id}}"class = " btn view-comments center-block" data-_id ={{_id}}>View Comments</button>
                    </div>
                </div> 
            </div>
        </article>
    {{/each}}
    </div>
</div>
